body {
  font-family: 'Raleway';
  font-weight: 400;
  background-color: #1d2120;
  /*background-color: #1d2120;*/
}

.colored-font {
	color: #DCDDC5;
  background-color: #1d2120;
}

#top100div {
  background-color: #fff;
}

.nav-bar {
  border-bottom-style: solid;
  margin-bottom: 4vh;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 5vh 0;
}

#nav li {
	display: inline;
	font-size: 5vh;
	padding: 0 1vh;
}

.nav-current-page {
	color: #A05125;
}
.nav-text {
  /*color: #E4DEFF;*/
  color: #157A6E;
  -o-transition:.3s linear;
  -ms-transition:.3s linear;
  -moz-transition:.3s linear;
  -webkit-transition:.3s linear;
  transition:.3s linear;
}

.nav-text:hover {
  color: #A05125;
  text-decoration: none;
}

.title {
	font-size: 10vh;
	letter-spacing: 2px;
}

#home {
  padding-top: 20vh;
}

#bar-row {
  height: 3vh;
}

.bar {
  height: 3vh;
}
#proj-bar {
  background-color: #69140E; /*#DB3069;*/
}

#music-bar {
  background-image: url("pictures/summersongs.jpg");
}

#contact-bar {
  background-color: #A44200;
}

#big-name {
	font-size: 10vh;
	letter-spacing: 2px;
	padding: 7vh;
}

.medium-text {
  font-size: 5vh;
}

#thing {
  width: 100vh;
}

/*@media (max-width: 765px) {
  #thing {
    width: 80%;
}
}*

/*projects page*/
#projects {
	padding: 2vh;
}

#soundcloud {

}

.a-coding-project {
	margin-top: 2vh;
	margin-bottom: 6vh;
}

/*.project-thumbnail img {
    display: inline-block;
    background: #A05125;
    padding: 0;
}

.project-thumbnail img {
    display: block;

    -webkit-transition: all 0.2s linear;
       -moz-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
         -o-transition: all 0.2s linear;
            transition: all 0.2s linear;
}

.project-thumbnail:hover img {
    opacity: 0.2;
}*/

.project-thumbnail {

}
.project-thumbnail:hover {
  outline: none;
  border-color: #CCFBFE;
  box-shadow: 0 0 10px #E01A4F;
}

.project-thumbnail {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 20vw;
}

@media (min-width: 992px) {
  #project-screenshot {
    margin-top: 7vh;
}
}

/*skills page*/
#skills {
	padding: 2vh;
}


#padded-even-more {
	padding-left: 5vh;
	padding-right: 5vh;
}

.top-padding {
   padding-top: 4vh;
}

/*soundshow demo*/
#context-menu {
  font-weight: 500;
  padding: none;
  text-decoration: none;
}

.context-menu__link:hover {
    text-decoration: none;
}

.hide-first {
  display: none;
}

/*interests page*/
#interests {
	padding: 2vh;
}

.hidden-buttons {
  display: none;
}

#likes {
	font-size: 5vh;
	letter-spacing: 2px;
	padding-left: 30vh;
	padding-right: 30vh;
}

.likes-link:link {
	text-decoration: none;
}

.padded {
	padding: 1vh;
}

#picture-box {
	height: 175px;
}

.likes-videos {
	display: none;
	width: 300px;
}

.hidden-image-pls {
  display: none;
  border-radius: 4px
}

#triforce {
	width: 150px;
}

#coloring {
  width: 200px;
}

#longboarding {
  width: 150px;
}

#webdev {
  width: 300px;
}

.center-image {
	margin-left: auto;
    margin-right: auto;
}

.fancybox-skin {
  background-color: #1d2120;
}

#web-dev-blurb {
  width: 80vh;
}


#nuacm {
  width: 80vh;
}
/*buttons!*/
.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: #DCDDC5;
    -o-transition: .1s linear;
  -ms-transition:.1s linear;
  -moz-transition:.1s linear;
  -webkit-transition:.1s linear;
  transition:.1s linear;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn:hover {
  background-color: #A05125
}
 
.btn-primary {
    background: #D8D8F6;
    color: #f6f1ed;
}
 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}
 
.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}

/*contact*/
#contact-title {
  padding-bottom: 4vh;
}

#me {
  border-radius: 3%;
}

.padded-more {
  padding-right: 7vh
}

.social-button {
  color: #157A6E;
  -o-transition:.3s linear;
  -ms-transition:.3s linear;
  -moz-transition:.3s linear;
  -webkit-transition:.3s linear;
  transition:.3s linear;
}

.social-button:visited {
  color: #157A6E;
}

.social-button:hover {
  color: #A05125;
}


/*fade ins*/
/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:.2s;
  -moz-animation-duration:.2s;
  animation-duration:.2s;
}

.fade-in.one {
-webkit-animation-duration: .5s;
  -moz-animation-duration: .5s;
  animation-duration: .5s;
}